
<section>
  <div class="container">
    <div class="row py-2 bg-light">
      <div class="col">
      <h4 class="text-center">Questionário de Estilo de Aprendizagem</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row py-4 bg-light">
      <div class="col">
        <h6>Progresso</h6>
        <div class="progress">
        <div id="percentual" class="progress-bar" role="progressbar" aria-valuenow="0,0" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
            <span class="sr-only">0,0% Complete</span>
        </div>
        <span class="progress-type">Questionário de Estilo de Aprendizagem</span>
        <span class="progress-completed">100 %</span>
    </div>
      </div>
    </div>
    <div class="row py-4">
      <!-- Ativista 0
      Theorist 0
      Reflector 0
      pragmatist 0 -->
      <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
          <input type="hidden" name="csrfmiddlewaretoken" value="tAvbSOI38ILuY1N28avzccFeFxlVrdg06sPpHwfSRAdzm8owDR6Si3mpqqhPXXZe">
          <div class="card-columns">

            
            {{#each questions}}
            <div id="card_{{number}}" class="card p-3">
              <blockquote class="blockquote mb-0 card-body">
                <p class="card-text">
                    <span class="badge badge-secondary">{{number}}</span>
                    {{prompt}}
                </p>
              </blockquote>


              <div class="row">
                <div class="col-md-6">
                  <button onclick="anwser(true, {{number}})"  type="button" class="btn btn-block btn-primary p-3 m-2">
                    <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                  </button>
                </div>
                <div class="col-md-6">
                  <button onclick="anwser(false , {{number}})"  type="button" class="btn btn-block btn-danger p-3 m-2">
                    <h1 class="display-5">
                      <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                    </button>
                </div>
              </div>
            </div>
            {{/each}}
          </div>

        </form>
      </div>
    </div>
   </div>
  </section>






